@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: "Merriweather", sans-serif;
}

.text-dc{
  color: #383f50;
}

.text-sdc{
  color: #6E7585;
}


.survey-response::-webkit-scrollbar {
    display: none; 
  }

.newsLetterInput {
        caret-color: #2F71FF;
}


.no-scrollbar {
    scrollbar-width: none;
  }